body {
  background-color: lightseagreen;
}

.income-expense-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: turquoise;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.item {
  margin: 0 10px;
}

.expense-card {
  max-height: 300px; /* Set a fixed height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  scroll-behavior: smooth;
}

.expense-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
}

.expense-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.expense-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.expense-entry {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.expense-entry-content {
  background-color: #ffffff;
  /* Add any specific styling for the content of each expense entry here */
}

.item h2 {
  animation: fadeInAnimation 2s ease-in-out; /* Apply the animation */
}

.animate {
  animation: fadeInAnimation 2s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}