body {
  background-color: lightseagreen;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02305e; /* Set the background color for the navbar */
  color: #15edf5; /* Set the text color for the navbar */
  height: 60px; /* Set the height of the navbar */
  padding: 0 20px; /* Add padding to the navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for the navbar */
}

.logo {
  font-size: 1.5rem; /* Set the font size for the logo */
  font-weight: bold; /* Set the font weight for the logo */
}

.entry-headers {
  display: flex;
  justify-content: space-around;
}

.income-expense-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: turquoise;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.item {
  margin: 0 10px;
}

.forms {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.expense-card {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

.income-list,
.expense-list {
  width: 45%; /* Adjust the width as needed */
  height: 200px; /* Set a fixed height for the scrollable sections */
  overflow-y: auto; /* Enable vertical scrolling */
  border-radius: 5px; /* Add border radius for a rounded appearance */
  padding: 10px; /* Add padding for the scrollable sections */
  margin-bottom: 20px; /* Adjust the margin-bottom as needed */
}

.income-entry {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.expense-entry {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
}

.expense-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.expense-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.expense-entry {
  background-color: lightcoral;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.income-entry {
  background-color: lightblue;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.expense-entry-content {
  background-color: lightcoral;
  /* Add any specific styling for the content of each expense entry here */
}

.item h2 {
  animation: fadeInAnimation 2s ease-in-out; /* Apply the animation */
}

.animate {
  animation: fadeInAnimation 2s ease-in-out;
}

.expense {
  background-color: lightcoral; /* Set a light red background for expenses */
}

.income {
  background-color: lightblue; /* Set a light green background for incomes */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}